%progress-bg {
  background-color: transparentize($ehw-grey-dark, 0.9);
  background-image: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKklEQVQIW2NkgIKgoKCZ69atSwdxQWxGGANZEMRmRFcJUwDWgU0X6UYBAPlXKyVlaAWEAAAAAElFTkSuQmCC
  );
}

.SupporterCardGiveNow {
  display: inline-block;
  perspective: 600px;
  user-select: none;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}

.SupporterCardGiveNow__cta {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  float: left;
  width: 100%;
  clear: both;
  cursor: pointer;
}

.SupporterCardGiveNow__progress {
  @extend %progress-bg;
  transition: all 240ms ease-out;
  position: relative;
  display: block;
  height: $x-2;
  margin: 0 $x-2;
  overflow: hidden;
  border-radius: 0 0 2px 2px;
  float: left;
  width: calc(100% - 16px);
  clear: both;
}

.SupporterCardGiveNow__current {
  transition: all 240ms ease-out;
  float: left;
  height: $x-3;
  background-color: $ehw-grey-dark;
}

.SupporterCardGiveNow__label {
  transition: all 240ms 100ms ease-out;
  line-height: 13px;
  text-align: center;
  color: $ehw-grey-dark;
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;
  float: left;
  width: 100%;
  clear: both;
}

.SupporterCardGiveNow__label p {
  margin: 0;
}
