.PageSearchResult__avatar {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  width: 68px;
  height: 68px;

  margin: {
    right: 13px;
    bottom: 13px;
  };

  img {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
  }
}

.PageSearchResult__content {
  box-sizing: border-box;
  overflow: hidden;

  * {
    margin-bottom: 8px;
  }
}

.PageSearchResult__header {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.PageSearchResult__subheader {
  font-size: 11px;
  font-weight: 400;
  text-transform: initial;
}

.PageSearchResult__footer {
  text-transform: uppercase;
  font-size: 12px;
}

.PageSearchResult__actions {
  color: $ehw-grey;
  line-height: 13px;
  text-align: right;

  a:hover & {
    color: $ehw-green-light;
  }

  a:hover &:hover, a:focus & {
    color: $ehw-green;
  }
}
