.FundraiserImage {
  box-sizing: border-box;
  display: block;
  width: 16.66%;
  float: left;
  padding: 0 15px 15px;

  @include media-max($breakpoint-xl) {
    width: 25%;
  }

  @include media-max($breakpoint-l) {
    width: 33.33%;
  }

  @include media-max($breakpoint-xs) {
    width: 50%;
  }

  img {
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 100%;

    @include media-max($breakpoint-xs) {
      border-width: 5px;
    }
  }
}
