.CountDown {
  @extend %ehw-tile;
  background-color: #fff;
  color: $ehw-grey-darker;
}

.CountDown__days {
  @extend %ehw-tile-total;
  color: $ehw-grey-darker;
}

.CountDown__link,
.CountDown__finished {
  margin-top: $x-2;
}

.CountDown__finished {
  color: $ehw-grey;
  font-size: $x-3;
  text-transform: none;
  font-weight: normal;
}
