.LeaderboardRow {
  display: table;
  border-collapse: collapse;
}

.LeaderboardRow__wrapper {
  display: table-row;
}

.LeaderboardRow__field {
  display: table-cell;

  .LeaderboardRow__code,
  .LeaderboardRow__total {
    display:inline;
  }

  .LeaderboardRow__code {
    padding-right: 5px;
  }
}

.LeaderboardRow__field--truncated {
  position: relative;
  width: 100%;
  vertical-align: top;

  .LeaderboardRow__name {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
