.Supporters {
  @extend %clearfix;
  font-family: $ehw-sans-serif-fonts;
  border-radius: $ehw-border-radius;
  text-align: center;
  position: relative;
  min-height: 273px;
}

.Supporters__loading {
  @extend %absolute-center;
  font-size: 30px;
  color: $ehw-grey;
}

.Supporters__empty-label {
  @extend %absolute-center;
  font-size: 20px;
  color: inherit;
}
