.CharitySearch__header {
  display: table;
  width: 100%;
}

.CharitySearch__input {
  display: table-cell;
  vertical-align: middle;
  width: 100%;

  @include media-max($breakpoint-xs) {
    display: block;
  }
}
