.PromoCharitiesDrawer {
  display: block;
  padding: 10px 20px;
  border-radius: $border-radius $border-radius 0 0;
  background: $color-grey-darker;
  color: #fff;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background: darken($color-grey-darker, 5%);
  }

  &.active {
    background: $color-grey-light;
    color: $color-grey-darker;
    cursor: default;
  }

  .PromoCharitiesDrawer__label {
    display: inline-block;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .PromoCharitiesDrawer__icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
}
