.Overlay {
  @extend %ehw-defaults;
  position: fixed;
  background: #333;
  background: transparentize(#333, 0.2);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;

  @include vendor(transform, translateZ(200px));
}

.Overlay__close {
  position: absolute;
  right: $x-9;
  top: 36px;
  display: block;
  font-size: $x-9;
  line-height:$x-9;
  color: white;

  @include media-max($breakpoint-xs) {
    right: $x-3;
    top: 16px;
    font-size: 30px;
  }
}

.Overlay-open {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
}
