.CallToActionButton {
  display: inline-block;
  background: #000000;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
  margin: 0 0 15px;
}
