%widget-form {
  max-width: 400px;
  box-sizing: border-box;
}

%widget-form-centered {
  margin: $x-36 auto;
}

%widget-input-wrap {
  border: none;
  display: block;
  position: relative;
}

%widget-text-input-label {
  position: absolute;
  color: $color-label-grey;
  cursor: text;
  letter-spacing: 0.10em;
  line-height: $x-9;
  padding: 0 $x-4;
  width: 100%;
  border-color: transparent;
  z-index: 2;
  pointer-events:none;
}

%widget-text-input {
  background: $color-input-background;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: $color-input-text-grey;
  color: inherit;
  cursor: text;
  display: block;
  height: $x-9;
  letter-spacing: 0.10em;
  padding: 0 $x-3;
  width: 100%;
  font-family: $sans-serif-fonts;

  &:focus {
    box-shadow: inset 0 1px 2px -1px rgba(black, 0.5);
  }
}

%widget-form-header {
  margin-top: $x-6;
  padding-bottom: $x-3;
}

%widget-form-instruction {
  padding-bottom: $x-3;
  font-size: $x-4;
}

%widget-text-area {
  @extend %widget-input-wrap;
  @extend %widget-text-input;
  padding: $x-3;
  min-height: $x-36;
  font-family: $sans-serif-fonts;
}

%widget-placeholder {
  @extend %widget-text-input-label;
  padding: 0 $x-4;
  color: $color-label-grey;
}
