%ehw-defaults {
  line-height: normal;
}

%ehw-defaults, %ehw-defaults * {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $ehw-sans-serif-fonts;
}

%ehw-rule-bottom {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: white;
}

%ehw-rule-top {
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-color: white;
}

%ehw-header {
  width: 100%;
  padding: $x-9;
  vertical-align: middle;
}

@include media-max($breakpoint-xs) {
  %ehw-header-s {
    padding: $x-3;
  }
}

%absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translateX(-50%) translateY(-50%);
}
