%widget-defaults {
  line-height: normal;
}

%widget-defaults, %widget-defaults * {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $sans-serif-fonts;
}

%widget-rule-bottom {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: $color-rule-grey;
}

%widget-rule-top {
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-color: $color-rule-grey;
}

%widget-header {
  width: 100%;
  padding: $x-9;
  vertical-align: middle;
}

@include media-max($breakpoint-xs) {
  %widget-header-s {
    padding: $x-3;
  }
}
