%ehw-tile {
  border-radius: $ehw-border-radius;
  background: #555;
  color: #fff;
  font-family: $ehw-sans-serif-fonts;
  font-size: $ehw-default-font-size;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: $x-5 $x-2 $x-6;
}

%ehw-tile-heading {
  font-size: 24px;
  margin: 15px;
}

%ehw-tile-total {
  font-size: 21px;
  margin-bottom: $x-2;
}

%ehw-tile-icon {
  display: block;
  padding-bottom: 10px;
  font-size: 30px;
}

%ehw-tile-loading-icon {
  display: block;
  font-size: 21px;
  line-height: 2;
  margin: $x-1 0;
  text-align: center;
}
