%tile {
  @include border-radius(2px);
  background: #555;
  color: #fff;
  font-family: $sans-serif-fonts;
  font-size: $default-font-size;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: $x-5 $x-2 $x-6;
}

%tile-heading {
  font-size: 24px;
  margin: 15px 15px 5px;
}

%tile-total {
  font-size: 21px;
  margin-bottom: $x-2;
}

%tile-icon {
  display: block;
  padding-bottom: 10px;
  font-size: 30px;
}

%tile-loading-icon {
  display: block;
  font-size: 21px;
  line-height: 2;
  margin:$x-1 0;
  text-align: center;
}
