.Team {
  box-sizing: border-box;
  float: left;
  padding: 0 15px 15px;
  width: 16.66%;
  text-decoration: none;

  @include media-max($breakpoint-xl) {
    width: 33.33%;
  }

  @include media-max($breakpoint-xs) {
    width: 50%;
  }

  .Team__skin {
    border-radius: $border-radius;
    color: $color-grey-dark;
    font-size: 13px;
    text-align: center;
    padding: 2px;
    background: #fff;
  }

  img {
    width: 100%;
    border: 0; // For IE8
  }

  p {
    border-top: 1px solid $color-grey-light;
    line-height: 1.4;
    height: 52px;
    margin: 5px 0;
    padding: 5px 3px;
  }
}
