.Team {

  background: #fff;
  border: 1px solid #555;
  border-radius: $border-radius;
  float: left;
  margin: 15px 0 15px 15px;
  padding:2px;
  width: 132px;
  color:#555;
  font-size: 13px;
  text-align: center;
  text-decoration: none;

  img {
    width:100%;
  }

  p {
    border-top: 1px solid #EBEBEB;
    line-height:1.4;
    height: 3.6em;
    margin:5px 0;
    padding:5px 3px;
  }
}
