.SearchModal__header {
  @extend %ehw-header;
  @extend %ehw-header-s;
  @extend %ehw-rule-bottom;
  display: table;
  padding-right: 78px;
  border-color: snow;
  color: snow;

  @include media-max($breakpoint-xs) {
    padding-right: 50px;
  }
}

.SearchModal__input {
  display: table-cell;
  vertical-align: middle;
  width: 100%;

  @include media-max($breakpoint-xs) {
    display: block;
  }
}

.SearchModal__body {
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 117px;
  right: 0px;
  padding: $x-9;
  overflow-x: hidden;
  transition: all 0.3s;
  -webkit-overflow-scrolling: touch;
  color: snow;

  @include media-max($breakpoint-xs) {
    top: 69px;
    padding: $x-3;
  }
}

.SearchModal__body--paginated {
  @include media-max($breakpoint-xs) {
    margin-top: 54px;
  }
}
