.PromoCharitiesTab {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px 0;
  background: $color-grey-darker;
  color:#fff;
  border-radius: $border-radius $border-radius 0 0;
  cursor: pointer;
  font-weight: bold;

  &.active {
    background: $color-grey-light;
    color: $color-grey-darker;
    cursor: default;
  }

  @include media-max($breakpoint-s) {
    margin: 0;
  }
}
