.PromoCharitiesTab {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px 0;
  background: $ehw-grey-darker;
  color: #fff;
  border-radius: $ehw-border-radius $ehw-border-radius 0 0;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background: darken($ehw-grey-darker, 5%);
  }

  &.active {
    background: $ehw-grey-light;
    color: $ehw-grey-darker;
    cursor: default;
  }

  @include media-max($breakpoint-s) {
    margin: 0;
  }
}
