.PromoCharitiesResults {
  @extend %clearfix;
  display: none;
  padding: 5px 10px;
  background: $ehw-grey-light;
  color: $ehw-grey-darker;

  &.active {
    display: block;
  }
}

.PromoCharitiesResults__inner {
  margin: 0;
  padding: 0;

  &:hover > * {
    opacity: 0.6;
  }

  &:hover > *:hover {
    opacity: 1;
  }
}

.PromoCharitiesResults__loading {
  @extend %ehw-tile-loading-icon;
}
