.PromoCharitiesResults {
  @extend %clearfix;
  display: block;
  background: $ehw-grey-light;
  color: $ehw-grey-darker;

  &:hover > * {
    opacity: 0.6;
  }

  &:hover > *:hover {
    opacity: 1;
  }
}

.PromoCharitiesResults__loading {
  @extend %ehw-tile-loading-icon;
}
