.ShareButton {
  position: relative;

  .ShareButton__btn {
    border: 2px solid rgba($ehw-grey, 0.5);
    color: $ehw-grey;
    padding: $x-2 $x-4;
    background: #fff;
    font-weight: bold;
    border-radius: $ehw-border-radius;
    display: inline-block;
    cursor: pointer;
  }

  .ShareButton__icon {
    padding-right: $x-2;
  }
}

.ShareButton__transition-leave {
  opacity: 1;
  transition: all .25s ease-in;
}

.ShareButton__transition-leave.ShareButton__transition-leave-active {
  opacity: 0.01;
}
