.ShareButton {
  position: relative;

  &:hover .ShareButton__btn,
  &:focus .ShareButton__btn,
  &:active .ShareButton__btn {
    border-color: $ehw-grey;
  }
}

.ShareButton__btn {
  border: 2px solid rgba($ehw-grey, 0.5);
  color: $ehw-grey;
  padding: $x-2 $x-4;
  background: transparent;
  font-weight: bold;
  border-radius: $ehw-border-radius;
  display: inline-block;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.ShareButton__icon {
  padding-right: $x-2;
}

.ShareButton__transition-leave {
  opacity: 1;
  transition: all .25s ease-in;
}

.ShareButton__transition-leave.ShareButton__transition-leave-active {
  opacity: 0.01;
}
