.SearchInput {
  @extend %ehw-input-wrap;
  color: white;
}

.SearchInput__input {
  @extend %ehw-text-input;
  position: relative;
  color: $ehw-grey-dark;
  padding-left: 28px;
  font-size: $x-4;
  height: 44px;
  line-height: 44px \0; /* ie8 fix */

  border: 0 solid $ehw-green-light;
  border-bottom-width: 5px;
}

.SearchInput__icon {
  position: absolute;
  top: 11px;
  left: 9px;
  z-index: 2;
  font-size: $x-4;
  line-height: $x-4;
  color: $ehw-grey;
}

.SearchInput__progressSpinner {
  position: absolute;
  top: 11px;
  right: 9px;
  color: $ehw-grey-dark;
  font-size: $x-4;
  line-height: $x-4;
  z-index: 2;

  .Icon {
    width: 15px;
    height: 15px;
  }
}
