.AmountRadio {
  transition: all 80ms ease-out;
  position: relative;
  overflow: hidden;
  background-color:$color-grey-light;
  float: left;
  margin-right: 1%;
  text-align: center;
  line-height: 31px;
  max-height: 31px;
  letter-spacing: 0.16em;
  border-radius: 2px;
  cursor: pointer;
  color: $color-grey-dark;
}

.AmountRadio:hover {
  background-color: rgba(126,199,116,0.1);
}

.AmountRadio input {
  position: absolute;
  left: 0;
  top: -100%;
}
.AmountRadio--selected,
.AmountRadio--selected:hover {
  background-color: $color-green-light;
  color: white;
}

.AmountRadio--1 { width: 16%; }
.AmountRadio--2 { width: 17%; }
.AmountRadio--3 { width: 18%; }
.AmountRadio--4 { width: 19%; }
