.PromoCharities {
  @extend %clearfix;
  background: $ehw-grey-dark;
  font-size: 0;
  font-family: $ehw-sans-serif-fonts;
  border-radius: $ehw-border-radius $ehw-border-radius 0 0;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  color: #fff;
  text-align: center;
}

.PromoCharities__head {
  text-align: center;
  padding: 15px 15px 30px;
}

.PromoCharities__heading {
  @extend %ehw-tile-heading;
}

.PromoCharities__subheading {
  margin: 0;
  font-size: $ehw-default-font-size;
}

.PromoCharities__empty-label {
  text-align: center;
  color: lighten($ehw-grey-dark, 40%);
}
