.TotalHours {
  @extend %widget-tile;
  padding: 45px 8px;
}

.TotalHours__total {
  @extend %widget-tile-total;
}

.TotalHours__loading {
  @extend %widget-tile-loading-icon;
}

.TotalHours__icon {
  @extend %widget-tile-icon;
  font-size: 60px;
  padding: 0;
  margin-right: 15px;
}

.TotalHours__content,
.TotalHours__icon,
.TotalHours__empty-label,
.TotalHours__loading {
  display: inline-block;
  vertical-align: middle;
}
