.TeamLeaderboard {
  @extend %clearfix;
  background:#555;
  font-family: $sans-serif-fonts;
  font-size: $default-font-size;
  color: #555;
  font-size: 14px;

  .TeamLeaderboard__heading {
    @extend %tile-heading;
    color:#fff;
  }

  .TeamLeaderboard__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
