.Footprint {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 13px;
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  position: relative;
  z-index: 1;
}

.Footprint * {
  box-sizing: border-box;
}

// Colors
.FootprintAvatar { border-color: white; }
.FootprintTile:hover .FootprintAvatar { border-color: $ehw-green-light; }
.FootprintData { color: white; }
.Footprint--hover,
.Footprint:hover {
  .FootprintMetric--cause_raised { fill: #35163d; }
  .FootprintMetric--cause_engagement { fill: #583048; }
  .FootprintMetric--raised { fill: #307c99; }
  .FootprintMetric--given { fill: #6db4d1; }
  .FootprintMetric--sharing { fill: #b14750; }
  .FootprintMetric--page_views { fill: #f18790; }
  .FootprintMetric--duration_trained { fill: #cf4c22; }
  .FootprintMetric--duration_volunteered { fill: #e2a13f; }
}
