.AddressStatus {
  transition: all 240ms ease-out;
  position: relative;
  z-index: 2;
  float: right;
  margin-left: -40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  left: -110px;
  color: #fff;
  opacity: 0;
}

.AddressStatus--loading,
.AddressStatus--error,
.AddressStatus--success {
  left: -74px;
  opacity: 1;
}

.AddressStatus--loading { color: $color-grey; }
.AddressStatus--error { color: $color-error; }
.AddressStatus--success { color: $color-green; }
