/* line 2, /Users/davidh/Code/react-widgets/src/scss/modules/clearfix */
.SearchResult:before, .SearchResults:before, .SearchResult:after, .SearchResults:after {
  content: " ";
  display: table; }

/* line 7, /Users/davidh/Code/react-widgets/src/scss/modules/clearfix */
.SearchResult:after, .SearchResults:after {
  clear: both; }

/* line 10, /Users/davidh/Code/react-widgets/src/scss/modules/forms */
.SearchInput {
  border: none;
  display: block;
  position: relative; }

/* line 16, /Users/davidh/Code/react-widgets/src/scss/modules/forms */
.SearchInput__label {
  position: absolute;
  color: #b3b3b3;
  cursor: text;
  letter-spacing: 0.1em;
  line-height: 36px;
  padding: 0 16px;
  width: 100%;
  border-color: transparent;
  z-index: 2;
  pointer-events: none; }

/* line 29, /Users/davidh/Code/react-widgets/src/scss/modules/forms */
.SearchInput__input {
  background: #f2f2f2;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #b3b3b3;
  color: inherit;
  cursor: text;
  display: block;
  height: 36px;
  letter-spacing: 0.1em;
  padding: 0 12px;
  width: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif; }
  /* line 44, /Users/davidh/Code/react-widgets/src/scss/modules/forms */
  .SearchInput__input:focus {
    box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5); }

/* line 1, /Users/davidh/Code/react-widgets/src/scss/modules/layout */
.Overlay, .Overlay * {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-family: "Lato", Helvetica, Arial, sans-serif; }
  /* line 9, /Users/davidh/Code/react-widgets/src/scss/modules/layout */
  .Overlay .Icon, .Overlay * .Icon {
    font-family: "FontAwesome"; }

/* line 14, /Users/davidh/Code/react-widgets/src/scss/modules/layout */
.Search__header {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #dbdbdb; }

/* line 28, /Users/davidh/Code/react-widgets/src/scss/modules/layout */
.Search__header {
  width: 100%;
  padding: 36px;
  vertical-align: middle; }

@media only screen and (max-width: 519px) {
  /* line 35, /Users/davidh/Code/react-widgets/src/scss/modules/layout */
  .Search__header {
    padding: 12px; } }

/* line 1, /Users/davidh/Code/react-widgets/src/components/helpers/Icon/style */
.Icon .fa-refresh {
  width: 2em; }

/* line 1, /Users/davidh/Code/react-widgets/src/components/helpers/Overlay/style */
.Overlay {
  position: fixed;
  background: #333333;
  background: rgba(51, 51, 51, 0.8);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 5; }

/* line 13, /Users/davidh/Code/react-widgets/src/components/helpers/Overlay/style */
.Overlay__close {
  position: absolute;
  right: 36px;
  top: 38px;
  display: block;
  font-size: 36px;
  color: white; }
  @media only screen and (max-width: 519px) {
    .Overlay__close {
      right: 12px;
      top: 16px;
      font-size: 30px; } }

/* line 28, /Users/davidh/Code/react-widgets/src/components/helpers/Overlay/style */
.Overlay-open {
  overflow: hidden; }

/* line 1, /Users/davidh/Code/react-widgets/src/components/search/Search/style */
.Search__header {
  padding-right: 78px;
  border-color: snow;
  color: snow; }
  @media only screen and (max-width: 519px) {
    .Search__header {
      padding-right: 50px; } }

/* line 14, /Users/davidh/Code/react-widgets/src/components/search/Search/style */
.Search__body {
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 117px;
  right: 0px;
  padding: 36px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-overflow-scrolling: touch;
  color: snow; }
  @media only screen and (max-width: 519px) {
    .Search__body {
      top: 69px;
      padding: 12px; } }

@media only screen and (max-width: 519px) {
  .Search__body--paginated {
    margin-top: 54px; } }

/* line 1, /Users/davidh/Code/react-widgets/src/components/search/SearchInput/style */
.SearchInput {
  color: white; }

/* line 6, /Users/davidh/Code/react-widgets/src/components/search/SearchInput/style */
.SearchInput__input {
  position: relative;
  color: #505050;
  padding-left: 28px;
  font-size: 16px;
  height: 44px;
  line-height: 44px \0;
  /* ie8 fix */
  border: 0 solid #7ec774;
  border-bottom-width: 5px; }

/* line 19, /Users/davidh/Code/react-widgets/src/components/search/SearchInput/style */
.SearchInput__label {
  margin-left: 16px; }

/* line 24, /Users/davidh/Code/react-widgets/src/components/search/SearchInput/style */
.SearchInput__icon {
  position: absolute;
  top: 11px;
  left: 9px;
  z-index: 2;
  font-size: 16px;
  color: #b3b3b3; }

/* line 33, /Users/davidh/Code/react-widgets/src/components/search/SearchInput/style */
.SearchInput__progressSpinner {
  position: absolute;
  top: 11px;
  right: 9px;
  color: #666666;
  font-size: 16px;
  z-index: 2; }
  /* line 41, /Users/davidh/Code/react-widgets/src/components/search/SearchInput/style */
  .SearchInput__progressSpinner .Icon {
    width: 15px;
    height: 15px; }

/* line 1, /Users/davidh/Code/react-widgets/src/components/search/SearchPagination/style */
.SearchPagination {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  padding-left: 10px; }
  @media only screen and (max-width: 519px) {
    .SearchPagination {
      display: block;
      margin-top: 10px;
      text-align: center;
      padding-left: 0; } }

/* line 16, /Users/davidh/Code/react-widgets/src/components/search/SearchPagination/style */
.SearchPagination__button--right, .SearchPagination__button--left {
  display: inline-block;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid white;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin-left: 10px;
  padding: 0;
  font-size: 13px;
  text-align: center;
  color: white;
  background-color: transparent;
  -webkit-transition: all 160ms ease-in-out;
  transition: all 160ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  /* line 40, /Users/davidh/Code/react-widgets/src/components/search/SearchPagination/style */
  .SearchPagination__button--right:hover, .SearchPagination__button--left:hover {
    border-color: #00a044;
    color: #00a044; }
  /* line 45, /Users/davidh/Code/react-widgets/src/components/search/SearchPagination/style */
  .SearchPagination__button--right[disabled], .SearchPagination__button--left[disabled] {
    cursor: default;
    border-color: gray;
    color: gray; }
  @media only screen and (min-width: 520px) {
    .SearchPagination__button--right, .SearchPagination__button--left {
      margin-left: 10px; } }

/* line 56, /Users/davidh/Code/react-widgets/src/components/search/SearchPagination/style */
.SearchPagination__counter {
  display: inline-block;
  color: white;
  position: relative;
  bottom: auto;
  right: auto;
  margin: 13px 5px 13px 5px;
  font-size: 12px; }

@media only screen and (max-width: 519px) {
  /* line 67, /Users/davidh/Code/react-widgets/src/components/search/SearchPagination/style */
  .SearchPagination__button--left {
    margin-left: 0;
    float: left; }
  /* line 72, /Users/davidh/Code/react-widgets/src/components/search/SearchPagination/style */
  .SearchPagination__button--right {
    float: right; } }

/* line 1, /Users/davidh/Code/react-widgets/src/components/search/SearchResult/style */
.SearchResult {
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  color: #525252;
  line-height: 16px;
  font-size: 13px;
  display: block;
  margin-bottom: 4px;
  padding: 12px; }
  /* line 13, /Users/davidh/Code/react-widgets/src/components/search/SearchResult/style */
  .SearchResult:active {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-transition: all 0.01s linear;
    transition: all 0.01s linear; }

/* line 1, /Users/davidh/Code/react-widgets/src/components/search/SearchResults/style */
.SearchResults {
  position: relative;
  clear: both;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 916px; }

/* line 1, /Users/davidh/Code/react-widgets/src/components/search/CharitySearch/style */
.CharitySearch__header {
  display: table;
  width: 100%; }

/* line 6, /Users/davidh/Code/react-widgets/src/components/search/CharitySearch/style */
.CharitySearch__input {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }
  @media only screen and (max-width: 519px) {
    .CharitySearch__input {
      display: block; } }

/* line 1, /Users/davidh/Code/react-widgets/src/components/search/CharitySearchResult/style */
.CharitySearchResult__avatar {
  -o-border-radius: 34px;
  border-radius: 34px;
  background: #eee;
  display: block;
  float: left;
  min-height: 34px;
  position: relative;
  margin-right: 13px;
  margin-bottom: 13px;
  width: 34px; }
  /* line 14, /Users/davidh/Code/react-widgets/src/components/search/CharitySearchResult/style */
  .CharitySearchResult__avatar .Icon {
    height: 34px;
    left: 0;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 34px; }

/* line 25, /Users/davidh/Code/react-widgets/src/components/search/CharitySearchResult/style */
.CharitySearchResult__logo {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  width: 34px;
  height: 34px;
  margin-right: 13px;
  margin-bottom: 13px; }
  /* line 38, /Users/davidh/Code/react-widgets/src/components/search/CharitySearchResult/style */
  .CharitySearchResult__logo img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    border: none; }

/* line 47, /Users/davidh/Code/react-widgets/src/components/search/CharitySearchResult/style */
.CharitySearchResult__content {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }
  /* line 51, /Users/davidh/Code/react-widgets/src/components/search/CharitySearchResult/style */
  .CharitySearchResult__content * {
    margin-bottom: 8px; }

/* line 56, /Users/davidh/Code/react-widgets/src/components/search/CharitySearchResult/style */
.CharitySearchResult__header {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

/* line 68, /Users/davidh/Code/react-widgets/src/components/search/CharitySearchResult/style */
.CharitySearchResult__actions {
  color: #b3b3b3;
  line-height: 13px;
  text-align: right; }
  /* line 73, /Users/davidh/Code/react-widgets/src/components/search/CharitySearchResult/style */
  a:hover .CharitySearchResult__actions {
    color: #7ec774; }
  /* line 77, /Users/davidh/Code/react-widgets/src/components/search/CharitySearchResult/style */
  a:hover .CharitySearchResult__actions:hover, a:focus .CharitySearchResult__actions {
    color: #00a044; }
