.Teams {
  @extend %clearfix;
  font-family: $sans-serif-fonts;
  border-radius: $border-radius;
}

.Teams__heading {
  @extend %widget-tile-heading;
}

.Teams__content {
  text-align: center;
}

.Teams__loading {
  padding: 0 15px 15px;
  display: inline-block;
}

.Teams__empty-label {
  padding: 0 15px;
}
