.Teams {
  @extend %clearfix;
  background: $ehw-grey-light;
  font-family: $ehw-sans-serif-fonts;
  border-radius: $ehw-border-radius;
}

.Teams__heading {
  @extend %ehw-tile-heading;
}

.Teams__content {
  text-align: center;
}

.Teams__loading {
  padding: 0 15px 15px;
  display: inline-block;
}

.Teams__empty-label {
  padding: 0 15px;
}
