.Amount {
  white-space: nowrap;
  margin-bottom: $x-5;
  font-size: $x-4;
  overflow: hidden;
}

.Amount * {
  box-sizing: border-box;
  font-family: 'Lato';
  font-weight: 300;
}

.Amount__label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding: 0 8px 4px;
  text-align: left;
  font-size: 9px;
  line-height: 9px;
  color: $color-grey-dark;
}
