.Amount {
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 14px;
  overflow: hidden;
  float: left;
  width: 100%;
}

.Amount * {
  box-sizing: border-box;
  font-family: $ehw-sans-serif-fonts;
}

.Amount__label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  padding: 0 8px 4px;
  text-align: left;
  font-size: 9px;
  line-height: 9px;
  color: $ehw-grey-dark;
}

.Amount--compact { padding: 0; }
.Amount--tight { padding: 0 $x-1 $x-2; }
.Amount--loose { padding: 0 ($x-8 / 2) $x-8; }
