.TeamLeaderboard__items-item {
  @include box-sizing(border-box);
  display: block;
  padding: 0 10px 15px;
  width: 25%;
  float: left;

  @include media-max($breakpoint-l) {
    width: 50%;
  }

  @include media-max($breakpoint-s) {
    width: 100%;
  }

  .TeamLeaderboard__items-skin {
    @extend %clearfix;
    background: #fff;
    color: $color-grey-dark;
    border-radius: $border-radius;
  }
}

.TeamLeaderboard__items-content {
  @include box-sizing(border-box);
  padding: 15px;

  @include media-max($breakpoint-l) {
    width: 50%;
    float: left;
  }
}

.TeamLeaderboard__items-name {
  border: 1px solid $color-grey-dark;
  border-width: 1px 0;
  padding: 10px 0;
  margin: 0 0 15px;
  font-weight: bold;
  line-height: 1.2;
  height: 30px;
  text-align: center;
}

.TeamLeaderboard__items-image {
  @include box-sizing(border-box);
  padding: 15px 15px 0;
  text-align: center;

  img {
    width:100%;
  }

  @include media-max($breakpoint-l) {
    width: 50%;
    float: left;
    padding: 15px;
  }
}

.TeamLeaderboard__items-stats {
  @extend %clearfix;

  .TeamLeaderboard__items-stat {
    @include box-sizing(border-box);
    font-weight: bold;
    font-size: 16px;
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;

    @include media-max($breakpoint-l) {
      padding: 0;
    }
  }

  .TeamLeaderboard__items-stat-content {
    margin: 15px 0;
  }

  .TeamLeaderboard__items-stat-title {
    text-transform: uppercase;
    font-size: 13px;

    @include media-max($breakpoint-xl) {
      font-size: 11px;
    }

    @include media-max($breakpoint-l) {
      font-size: 10px;
    }
  }

  .TeamLeaderboard__items-stat:first-child {
    border-right: 1px solid $color-grey-dark;
  }
}
