.TeamLeaderboard__items-item {
  box-sizing: border-box;
  display: block;
  padding: 0 10px 15px;
  float: left;

  .TeamLeaderboard__items-skin {
    @extend %clearfix;
    background: #fff;
    color: $ehw-grey-dark;
    border-radius: $ehw-border-radius;
  }
}

.TeamLeaderboard__items-content {
  box-sizing: border-box;
  padding: 15px;
}

.TeamLeaderboard__items-name {
  border: 1px solid $ehw-grey-dark;
  border-width: 1px 0;
  padding: 10px 0;
  margin: 0 0 15px;
  font-weight: bold;
  line-height: 1.2;
  height: 30px;
  text-align: center;
}

.TeamLeaderboard__items-image {
  box-sizing: border-box;
  display: block;
  padding: 15px 15px 0;
  text-align: center;

  img {
    width:100%;
    border: 0;
  }
}

.TeamLeaderboard__items-stats {
  @extend %clearfix;

  .TeamLeaderboard__items-stat {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
  }

  .TeamLeaderboard__items-stat-content {
    margin: 15px 0;
  }

  .TeamLeaderboard__items-stat-title {
    text-transform: uppercase;
    font-size: 13px;
  }

  .TeamLeaderboard__items-stat:first-child {
    border-right: 1px solid $ehw-grey-dark;
  }
}

.TeamLeaderboard__animation-enter {
  opacity: 0.01;
  transition: opacity .66s ease-in;
}

.TeamLeaderboard__animation-enter-active {
  opacity: 1;
}

// pull existing items out of view immediately
.TeamLeaderboard__animation-leave {
  position: absolute;
  top: -999px;
  left: -999px;
  opacity: 0;
  transition: all .1s ease-in;
}
