.MMFLeaderboardItem {
  box-sizing: border-box;
  padding: 0 10px 15px;
  position: relative;
  border: 1px solid $ehw-grey-light;
}

.MMFLeaderboardItem__fundraiser, {
  border-right: 1px solid $ehw-grey-light;
}

.MMFLeaderboardItem__name {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 1.2;
  padding: 15px;
}

.MMFLeaderboardItem__image {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 0 15px 15px;
  text-align: center;
  border-radius: 50%;
  width: 80px;

  img {
    width: 100%;
    border-radius: 50%;
    border: 0;
  }

  @include media-max($breakpoint-m) {
    display: none;
  }
}

.MMFLeaderboardItem__raised {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  border-right: 1px solid $ehw-grey-light;

  @include media-max($breakpoint-l) {
    padding: 0;
  }
}

.MMFLeaderboardItem__distance {
  text-align: center;
}
