.Tabs {
  display: block;
}

.Tabs__tab-list {
  @extend %clearfix;
  white-space: nowrap;
  display: block;
}

.Tabs__drawer {
  display: none;
}

.Tabs--collapsed,
.Tabs--medium,
.Tabs--small,
.Tabs--tiny {
  .Tabs__tab-list { display: none; }
  .Tabs__drawer { display: block; }
}
