.SearchResult {
  @extend %clearfix;
  border-radius: 3px;
  box-sizing: border-box;
  background: white;
  color: $ehw-grey-dark;
  line-height: 16px;
  font-size: 13px;
  display: block;
  margin-bottom: $x-1;
  padding: $x-3;

  &:focus, &:hover {
    color: $ehw-grey-dark;
    text-decoration: none;
  }

  &:active {
    @include vendor(transform, scale(0.98));
    @include vendor(transition, all 0.01s linear);
  }
}
