.MMFLeaderboard {
  width: 100%;
  background: $ehw-grey-darker;
  font-family: $ehw-sans-serif-fonts;
  font-size: $ehw-default-font-size;
  color: #fff;
  border-radius: $ehw-border-radius;
  margin: 30px 0; // todo: remove

  .MMFLeaderboard__loading {
    @extend %ehw-tile-loading-icon;
  }
}

.MMFLeaderboard__heading {
  @extend %ehw-tile-heading;
  text-align: center;
}

.MMFLeaderboard__table {
  width: 100%;
  background: #fff;
  table-layout: fixed;
  border-collapse: collapse;

  thead {
    background: $ehw-grey-dark;
  }

  tbody {
    color: $ehw-grey-darker;
  }
}

.MMFLeaderboard__colhead {
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  @include media-max($breakpoint-m) {
    font-size: $x-3;
  }
}

.MMFLeaderboard__colhead--fundraiser {
  text-align: left;
}

.MMFLeaderboard__colhead--fundraiser,
.MMFLeaderboard__colhead--raised {
  border-right: 1px solid $ehw-grey;
}
