$ehw-animation-speed: 200ms;

%progress-bg {
  background-color: transparentize($ehw-grey-dark, 0.9);
  background-image: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKklEQVQIW2NkgIKgoKCZ69atSwdxQWxGGANZEMRmRFcJUwDWgU0X6UYBAPlXKyVlaAWEAAAAAElFTkSuQmCC
  );
}

@keyframes progress-bar-loaded {
  from {width: 0%;}
  to {width: 100%;}
}

.GoalProgress {
  display: block;
  width: 100%;
  color: #FFFFFF;
  overflow: hidden;
}

/* edit pattern at http://ptrn.it/1x0nFEh */

.GoalProgress__icon,
.GoalProgress__icon--achieved {
  @extend %progress-bg;
  transition: all 160ms ease-out;
  float: right;
  width: $x-12;
  text-align: center;
  margin-left: 5px;
  position: relative;
  font-size: 21px;
  line-height: $x-12;
}

.GoalProgress__icon--achieved {
  background-color: $ehw-green-light;
  text-shadow: 0 0 5px scale-color($ehw-green-light, $lightness: 50%);
  font-size: 26px;
}

.GoalProgress__area {
  @extend %progress-bg;
  position: relative;
  text-align: right;
  display: block;
  overflow: hidden;
}

.GoalProgress__bar,
.GoalProgress__barFill {
  height: 100%;
}

.GoalProgress__bar {
  position: absolute;
  animation: progress-bar-loaded 1s ease-out forwards;
}

.GoalProgress__barFill {
  display: block;
  background: $ehw-grey-dark;
  position: relative;
}

.GoalProgress__barFill::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  display: block;
  border-left: solid $ehw-grey-dark $x-2;
  border-bottom: solid transparent $x-6;
  border-top: solid transparent $x-6;
}

.GoalProgress__text {
  position: relative;
  line-height: $x-12;
  text-align: center;
  font-size: $x-4;
  font-weight: 300;
  white-space: nowrap;
  p {
    margin: 0;
  }

  @include media-max($breakpoint-xs) {
    font-size: $x-3;
  }
}
