%userText {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: inherit;
}

.SupporterCardWrapper {
  box-sizing: border-box;
  padding: $x-1;
  display: inline-block;
  overflow: hidden;
}

.SupporterCard {
  transition: all 320ms ease-out;
  padding: $x-6 $x-2;
  background-color: white;
  border-radius: 2px;
  box-sizing: border-box;
  color: $ehw-grey-dark;
  text-align: center;
}

.SupporterCard__userDetails {
  display: block;
  color: inherit;
  transition: all 160ms ease-out;
  margin: 0 0 $x-4;
  text-decoration: none;

  &:hover {
    color: $ehw-green;
  }
}

.SupporterCard__name {
  @extend %userText;
  font-weight: bold;
  line-height: 1.1;
  font-size: 18px;
  letter-spacing: 0.05em;
  margin-bottom: $x-1;
}

.SupporterCard__charity,
.SupporterCard__event {
  @extend %userText;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 100;
  font-size: 8px;
  line-height: 1;
  color: $ehw-grey;
}
