.SupporterCardWrapper {
  box-sizing: border-box;
  padding: $x-1;
  display: inline-block;
  overflow: hidden;
}

.SupporterCard {
  transition: all 320ms ease-out;
  padding: $x-6 $x-2;
  background-color: white;
  border-radius: 2px;
  box-sizing: border-box;
  color: $ehw-grey-dark;
  text-align: center;
}

.SupporterCard__userName {
  display: block;
  transition: all 160ms ease-out;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  color: inherit;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.1;
  font-size: 14px;
  margin: 0 0 $x-4;

  &:hover {
    color: $ehw-green;
  }
}
