.LeaderboardItem {
  box-sizing: border-box;
  display: block;
  padding: $x-1;
  // width: 33.33%;
  float: left;
  position: relative;

  @include media-max($breakpoint-xl) {
    width: 50%;
  }

  @include media-max($breakpoint-s) {
    width: 100%;
    padding: $x-1 $x-2 0;
  }
}

.LeaderboardItem__skin {
  @extend %clearfix;
  background: #fff;
  color: $ehw-grey-dark;
  border-radius: $ehw-border-radius;
  position: relative;
}

.LeaderboardItem__content {
  box-sizing: border-box;
  width: 100%;
  padding: $x-4 $x-16;

  .LeaderboardItem__name {
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-weight: bold;
    line-height: 1.2;
  }
}

.LeaderboardItem__rank {
  font-size: $x-4;
  color: $ehw-grey;
  position: absolute;
  top: 50%;
  right: $x-4;
  margin-top: -$x-2;
  font-weight: bold;
}

.LeaderboardItem__image {
  position: absolute;
  left: $x-4;
  top: 50%;
  width: $x-8;
  margin-top: -$x-4;

  img {
    max-width: 100%;
    border-radius: 50%;
  }
}
