.MMFLeaderboardColHead {
  padding: $x-4;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-right: 1px solid rgba(255,255,255,0.34);

  &:first-child {
    cursor: default;
  }

  &:last-child {
    border: 0;
  }

  @include media-max($breakpoint-m) {
    font-size: 11px;
  }
}

.MMFLeaderboardColHead__icon {
  padding: 0 $x-2;
}
