.CountrySelect {
  float: right;
  position: relative;
  z-index: 1;
  margin: 8px 8px;
  margin-left: -100px;
  border-radius: $border-radius;
  overflow: hidden;
}

.CountrySelect--open {
  width: 100%;
  margin: 0;
}

.CountrySelect__toggle {
  transition: all 80ms ease-out;
  padding: 5px 8px;
  cursor: pointer;
  background-color: #eee;
  line-height: 18px;
  text-align: right;
  font-size: 12px;
}

.CountrySelect__toggle:hover,
.CountrySelect__toggle:focus {
  background-color: #ddd;
  outline: none;
}

.CountrySelect__list {
  border-radius: $border-radius;
  background-color: #fff;
  max-height: 300px;
  overflow-y: scroll;
  padding-top: 5px;
  margin-top: -20px;
  margin-bottom: 8px;
}

.CountrySelect__flag {
  vertical-align: top;
  margin: 1px 0 0 5px;
}
