.AmountInput {
  box-sizing: content-box;
  float: left;
  position: relative;
  width: 26%;
  height: 31px;
  overflow: hidden;
}

.AmountInput input {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 24px;
  font-size: 16px;
  line-height: 31px;
  letter-spacing: 0.16em;
  color: $color-grey-dark;
  font-family: Lato;
  border: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-dark;
  border-radius: 2px;
  outline: none;
}

.AmountInput__symbol {
  transition: all 80ms ease-out;
  position: absolute;
  left: -20px;
  top: 0;
  line-height: 32px;
  font-size: 14px;
  z-index: 1;
  color: $color-green-light;
}

.AmountInput--focused input {
  border-bottom-color:$color-green-light;
}

.AmountInput--focused .AmountInput__symbol,
.AmountInput--selected .AmountInput__symbol {
  left: 8px;
}

.AmountInput--selected input {
  border-color: $color-green-light;
  background-color: $color-green-light;
  color: white;
}

.AmountInput--selected .AmountInput__symbol {
  color: white;
}
