.AmountInput {
  box-sizing: content-box;
  float: left;
  position: relative;
  width: 26%;
  height: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow: hidden;
}

.AmountInput input {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 24px;
  font-size: 16px;
  letter-spacing: 0.16em;
  color: $color-grey-dark;
  font-family: Lato;
  border: 1px solid $color-grey-light;
  border-radius: 2px;
  outline: none;
}

.AmountInput__Symbol {
  transition: all 80ms ease-out;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -20px;
  line-height: 40px;
  font-size: 20px;
  z-index: 1;
  color: $color-green-light;
}

.AmountInput--Focused input {
  padding-top: 3px;
  border-bottom: 3px solid $color-green-light;
}

.AmountInput--Focused .AmountInput__Symbol,
.AmountInput--Selected .AmountInput__Symbol {
  left: 8px;
}

.AmountInput--Selected input {
  background-color: $color-green-light;
  color: white;
}

.AmountInput--Selected .AmountInput__Symbol {
  color: white;
}
