.PromoCharitiesResult {
  box-sizing: border-box;
  width: 16.666%;
  padding: 15px 10px 0;
  margin-bottom: 15px;
  overflow: hidden;
  float: left;
  position: relative;
  transition: opacity 0.2s ease-in-out;

  @include media-max($breakpoint-xl) {
    width: 25%;
  }

  @include media-max($breakpoint-s) {
    width: 50%;
  }

  &:hover .PromoCharitiesResult__btn {
    background: $ehw-grey-dark;
  }
}

.Tabs--xxHuge .PromoCharitiesResult {
  width: 16.666%;
}
.Tabs--xHuge .PromoCharitiesResult, .Tabs--huge .PromoCharitiesResult {
  width: 25%;
}
.Tabs--large .PromoCharitiesResult, .Tabs--medium .PromoCharitiesResult {
  width: 50%;
}
.Tabs--small .PromoCharitiesResult, .Tabs--tiny .PromoCharitiesResult {
  width: 100%;
}

.PromoCharitiesResult__link {
  @extend %clearfix;
  position: relative;
  display: block;
  background: #fff;
  color: $ehw-grey-dark;
  border-radius: $ehw-border-radius $ehw-border-radius 0 0;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.PromoCharitiesResult__content {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 25px;
  text-align: center;

  @include media-max($breakpoint-s) {
    padding: 0 15px;
  }

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.PromoCharitiesResult__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  width: 80%;
  font-size: $ehw-default-font-size;
}

.PromoCharitiesResult__image {
  box-sizing: border-box;
  color: $ehw-grey-darker;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  border: 0;
}

.PromoCharitiesResult__btn {
  display: block;
  font-size: $ehw-default-font-size;
  background-color: $ehw-grey;
  border-radius: 0 0 $ehw-border-radius $ehw-border-radius;
  color: #fff;
  padding: $x-2 $x-3;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
