.AggregateSearchResultCampaign__date {
  float: left;
  display: block;
  position: relative;
  text-align: center;
  width: 72px;
  height: 72px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  border: 1px $ehw-grey-light solid;

  list-style: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 11px;
  color: white;

  li {
    &:first-child {
      font-size: 26px;
      margin-top: 0.4em;

      @include media-max($breakpoint-xs) {
        font-size: 20px;
        margin-top: 0.2em;
      }
    }
  }

  @include media-max($breakpoint-xs) {
    width: 50px;
    height: 50px;
    font-size: 9px;
  }
}

.AggregateSearchResultCampaign__content {
  display: block;
  overflow: hidden;
}

.AggregateSearchResultCampaign__header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 1.2;
  color: white;

  @include media-max($breakpoint-s) {
    font-size: 17px;
  }

  @include media-max($breakpoint-xs) {
    font-size: 15px;
  }

  @include media-max($breakpoint-xxxs) {
    font-size: 13px;
  }
}

.AggregateSearchResultCampaign__subheader {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 10px;
  margin-bottom: $x-1;
  white-space: nowrap;
  overflow: hidden;
}

.AggregateSearchResultCampaign__supporters {
  color: $ehw-green-light;
  margin-right: 0.5em;
}

.AggregateSearchResultCampaign__charities {
  color: $ehw-grey;
}

.AggregateSearchResultCampaign__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.2;
  height: 42px;
  overflow: hidden;
}
