#CampaignGoals, #CampaignGoalsExample {
  overflow-x: scroll;
}

#CampaignGoals:-webkit-scrollbar, #CampaignGoalsExample:-webkit-scrollbar {
  display: none;
}

.CampaignGoals__container {
  @extend %clearfix;
  width: 1050px;
  height: 500px;
  margin: 0 auto;
  overflow: scroll;
  overflow-y: hidden;
}

