.Leaderboard {
  @extend %clearfix;
  background: $ehw-grey-dark;
  font-family: $ehw-sans-serif-fonts;
  font-size: $ehw-default-font-size;
  color: #fff;

  .Leaderboard__heading {
    @extend %ehw-tile-heading;
  }

  .Leaderboard__items {
    @extend %clearfix;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .Leaderboard__controller {
    clear: both;
    text-align: right;
    margin: 0 15px 15px;
  }

  .Leaderboard__controls,
  .Leaderboard__indicators {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  .Leaderboard__prevBtn,
  .Leaderboard__nextBtn {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    font-size: $x-6;
  }

  .Leaderboard__indicator {
    display: inline-block;
    padding: 3px;
    margin: 0 2px 0 0;
    cursor: pointer;
  }

  .Leaderboard__loading {
    @extend %ehw-tile-loading-icon;
  }
}
