.Leaderboard {
  @extend %clearfix;
  background: $ehw-grey-dark;
  font-family: $ehw-sans-serif-fonts;
  font-size: $ehw-default-font-size;
  color: #fff;
  padding: 0 0 $x-2;

  .Leaderboard__heading {
    @extend %ehw-tile-heading;
    text-align: center;
  }

  .Leaderboard__items {
    @extend %clearfix;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .Leaderboard__loading {
    @extend %ehw-tile-loading-icon;
  }
}

.Leaderboard__animation-enter {
  opacity: 0.01;
  transition: opacity .6s ease-in;
}

.Leaderboard__animation-enter-active {
  opacity: 1;
}

// pull existing items out of view immediately
.Leaderboard__animation-leave {
  position: absolute;
  top: -999px;
  left: -999px;
  opacity: 0;
  transition: all .1s ease-in;
}
