.TotalDistance {
  @extend %widget-tile;
  padding: 45px 8px;
}

.TotalDistance__total {
  @extend %widget-tile-total;
}

.TotalDistance__loading {
  @extend %widget-tile-loading-icon;
}

.TotalDistance__icon {
  @extend %widget-tile-icon;
  font-size: 60px;
  padding: 0;
  margin-right: 15px;
}

.TotalDistance__content,
.TotalDistance__icon,
.TotalDistance__empty-label,
.TotalDistance__loading {
  display: inline-block;
  vertical-align: middle;
}
