.SearchResults {
  @extend %clearfix;
  position: relative;
  clear: both;
  float: none;
  margin: {
    left: auto;
    right: auto;
  };
  width: 100%;
  max-width: $x-229;
  overflow-y: scroll;
}

.SearchResults--empty {
  font-size: 24px;
  text-align: center;
}
