.Search__header {
  @extend %header;
  @extend %header-s;
  @extend %rule-bottom;
  padding-right: 78px;
  border-color: snow;
  color: snow;

  @include media-max($breakpoint-xs) {
    padding-right: 50px;
  }
}

.Search__body {
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 117px;
  right: 0px;
  padding: $x-9;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s;
  -webkit-overflow-scrolling: touch;
  color: snow;

  @include media-max($breakpoint-xs) {
    top: 69px;
    padding: $x-3;
  }
}

.Search__body--paginated {
  @include media-max($breakpoint-xs) {
    margin-top: 54px;
  }
}
