.PromoCharitiesTabs {
  display: block;
  background: $color-grey-dark;
}

.PromoCharitiesTabs__tab-row {
  @extend %clearfix;
  padding-top: 5px;

  @include media-max($breakpoint-s) {
    display: none;
  }
}

.PromoCharitiesTabs__accordion {
  display: none;

  @include media-max($breakpoint-s) {
    display: block;
  }
}
