.Event {
  -moz-box-shadow:    -1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         -1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  color: $ehw-grey-light;
  display: inline-block;
  font-family: $ehw-sans-serif-fonts;
  font-size: $ehw-default-font-size;
  height: 252px;
  text-align: center;
  width: 240px;

  p, ul {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    position: absolute;

    &.Event__date {
      border: 2px transparentize($ehw-grey-light, 0.5) solid;
      display: block;
      height: 45px;
      left: 95.5px;
      list-style: none;
      margin: 0;
      padding: 0;
      top: 101.5px;
      width: 45px;

      li {
        font-size: 0.5em;
        text-transform: uppercase;
      }

      li:first-child {
        margin-top: 0.15em;
        font-size: 1em;
      }
    }

    &.Event__name {
      top: 67%;
      left: 10%;
      width: 80%;
    }
  }

  .Event__base {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .Event__gradient {
    background-image: -moz-linear-gradient(transparent, transparent 33%, rgba(0, 0, 0, 0.5));
    background-image: -webkit-linear-gradient(transparent, transparent 33%, rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(transparent, transparent 33%, rgba(0, 0, 0, 0.5));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .Event__hover {
    display: none;
    opacity: 0;
  }
}
