$ehw-animation-speed: 200ms;

.Event {
  box-sizing: border-box;
  color: $ehw-grey-light;
  display: inline-block;
  font-family: $ehw-sans-serif-fonts;
  font-size: $ehw-default-font-size;
  line-height: initial;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 240px;
  padding: 3px;
}

.Event__blur, .Event__gradient,  {
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.Event__date,
.Event__name {
  transition: top $ehw-animation-speed ease-out;
}
.Event__calls-to-action {
  transition: bottom $ehw-animation-speed ease-out;
}

.Event__base {
  position: relative;
  width: 100%;
  height: 225px;
  background-color: $ehw-grey-dark;
  background-size: cover;
  overflow: hidden;
  border-radius: $ehw-border-radius;

  &.active {
    .Event__blur { opacity: 1; }
    .Event__date { top: 25px; }
    .Event__name { top: 90px; }
    .Event__calls-to-action { bottom: 15px; }
    .Event__gradient {
      background-color: transparentize($ehw-grey-dark, 0.25);
    }
  }
}

.Event__gradient {
  background-color: transparentize($ehw-grey-dark, 0.85);
  background-image: linear-gradient(transparent, transparentize($ehw-grey-dark, 0.25));
  height: 100%;
  position: absolute;
  transition: background-color $ehw-animation-speed * 2.5 ease-out;
}

.Event__blur {
  opacity: 0;
  transition: opacity $ehw-animation-speed ease-out;
  transition-delay: 100ms;
}

.Event__date {
  box-sizing: border-box;
  border: 1px $ehw-grey-light solid;
  border-radius: $ehw-border-radius;
  background-color: transparentize($ehw-grey-dark, 0.5);
  display: block;
  height: 54px;
  width: 54px;
  list-style: none;
  margin: 0;
  padding: 0;
  transition-delay: 125ms;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.DateBox__day {
  font-size: 1em;
  line-height: 2.25em;
  margin: 0;
  margin-top: 0.25em;
}

.DateBox__month-year {
  text-transform: uppercase;
  font-size: 0.5em;
}

.Event__name {
  position: absolute;
  overflow: hidden;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: bold;
  height: 2.6em;
  width: 80%;
  left: 10%;
  top: 67%;
  transition-delay: 150ms;
}

.Event__name, .Event__name:visited, .Event__name:active {
  color: white;
  text-decoration: none;
}

.Event__supporter-count {
  position: absolute;
  margin: 0;
  font-size: 0.6em;
  font-weight: bold;
  left: 10%;
  text-transform: uppercase;
  top: 100%;
  width: 80%;
  transition-delay: 175ms;
}

.Event__calls-to-action {
  position: absolute;
  bottom: -100%;
  left: 15px;
  right: 15px;
  transition-delay: 200ms;
  margin: 0;
  margin-left: -0.25em;
  margin-right: -0.25em;
}

.Event__block-button {
  float: none;
  display: block;
  margin: 0;
}

.Event__call-to-action {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0.25em;
}

.Event__call-to-action:first-child:last-child {
  float: none;
  width: 100%;
}

.Event__call-to-action-stat {
  font-size: 0.8em;
  line-height: 2.2em;
  font-weight: 300;
  text-transform: uppercase;
}
