$ehw-animation-speed: 200ms;

.Event {
  box-sizing: border-box;
  color: $ehw-grey-light;
  display: inline-block;
  font-family: $ehw-sans-serif-fonts;
  font-size: $ehw-default-font-size;
  line-height: initial;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 240px;
  height: 252px;
  padding: 3px;

  * {
    transition: top $ehw-animation-speed ease-out;
  }
}

.Event__blur, .Event__gradient,  {
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.Event__base {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $ehw-grey-dark;
  background-size: cover;
  overflow: hidden;
  border-radius: $ehw-border-radius;

  &.active {
    .Event__blur { opacity: 1; }
    .Event__date { top: 25%; }
    .Event__name { top: 42%; }
    .Event__supporter-count { top: 64%; }
    .Event__join-event { top: 80%; }
    .Event__gradient {
      background-color: transparentize($ehw-grey-dark, 0.25);
    }
  }
}

.Event__gradient {
  background-color: transparentize($ehw-grey-dark, 0.85);
  background-image: linear-gradient(transparent, transparentize($ehw-grey-dark, 0.25));
  height: 100%;
  position: absolute;
  transition: background-color $ehw-animation-speed * 2.5 ease-out;
}

.Event__blur {
  opacity: 0;
  transition: opacity $ehw-animation-speed ease-out;
  transition-delay: 100ms;
}

.Event__date {
  box-sizing: border-box;
  border: 1px $ehw-grey-light solid;
  background-color: transparentize($ehw-grey-dark, 0.5);
  display: block;
  height: 50px;
  width: 50px;

  @extend %absolute-center;

  list-style: none;
  margin: 0;
  padding: 0;
  transition-delay: 125ms;

  li {
    font-size: 0.5em;
    text-transform: uppercase;

    &:first-child {
      font-size: 1em;
      margin-top: 0.4em;
    }
  }
}

.Event__name {
  position: absolute;
  overflow: hidden;
  font-size: 1.2em;
  font-weight: bold;
  height: 42px;
  width: 80%;
  left: 10%;
  top: 67%;
  transition-delay: 150ms;
}

.Event__name, .Event__name:visited, .Event__name:active {
  color: white;
  text-decoration: none;
}

.Event__supporter-count {
  position: absolute;
  margin: 0;
  font-size: 0.6em;
  font-weight: bold;
  left: 10%;
  text-transform: uppercase;
  top: 100%;
  width: 80%;
  transition-delay: 175ms;
}

.Event__join-event {
  position: absolute;
  left: 50%;
  top: 110%;
  transition-delay: 200ms;
  margin: 0;
  transform: translateX(-50%) translateY(-50%);
}
