@import "version";

// type
$sans-serif-fonts: "Lato", Helvetica, Arial, sans-serif;
$default-font-size: 14px;

// colors
$color-grey: #b3b3b3;
$color-grey-dark: #525252;
$color-grey-darker: #333;
$color-grey-light: #eee;

$color-green-light: #7ec774;
$color-green: #00a044;
$color-green-dark: #0A5E0D;

// buttons
$color-primary-grey: #666666;

// layout
$color-rule-grey: #dbdbdb;
$color-text: #505050;
$color-search-background: #333333;

// forms
$color-input-background: #f2f2f2;
$color-label-grey: $color-grey;
$color-input-text-grey: $color-grey;

// status
$color-error: #ff6347;

//x-heights
$x-1: 4px;
$x-2: 8px;
$x-3: 12px;
$x-4: 16px;
$x-5: 20px;
$x-6: 24px;
$x-9: 36px;
$x-13: 52px;
$x-16: 64px;
$x-19: 76px;
$x-22: 88px;
$x-36: 144px;
$x-48: 192px;
$x-54: 216px;
$x-128: 512px;
$x-144: 576px;
$x-180: 720px;
$x-229: 916px;

//borders
$border-radius: 2px;

//breakpoints
$breakpoint-xxxxs: 220px;
$breakpoint-xxxs: 320px;
$breakpoint-xxs: 420px;
$breakpoint-xs: 520px;
$breakpoint-s: 620px;
$breakpoint-m: 720px;
$breakpoint-l: 820px;
$breakpoint-xl: 920px;
$breakpoint-xxl: 1020px;
$breakpoint-xxxl: 1120px;
$breakpoint-xxxxl: 1220px;
