@import "version";

// type
$ehw-sans-serif-fonts: "Lato", Helvetica, Arial, sans-serif;
$ehw-marketing-fonts: "Amatic SC", cursive;
$ehw-default-font-size: 14px;

// colors
$ehw-grey: #b3b3b3;
$ehw-grey-dark: #525252;
$ehw-grey-darker: #333;
$ehw-grey-light: #eee;
$ehw-green-light: #7ec774;
$ehw-green: #00a044;
$ehw-green-dark: #0A5E0D;
$ehw-color-error: #ff6347;

//borders
$ehw-border-radius: 2px;

//x-heights
$x-1: 4px;
$x-2: 8px;
$x-3: 12px;
$x-4: 16px;
$x-5: 20px;
$x-6: 24px;
$x-8: 32px;
$x-9: 36px;
$x-13: 52px;
$x-16: 64px;
$x-19: 76px;
$x-22: 88px;
$x-36: 144px;
$x-48: 192px;
$x-54: 216px;
$x-128: 512px;
$x-144: 576px;
$x-180: 720px;
$x-229: 916px;

//breakpoints
$breakpoint-xxxxs: 220px;
$breakpoint-xxxs: 320px;
$breakpoint-xxs: 420px;
$breakpoint-xs: 520px;
$breakpoint-s: 620px;
$breakpoint-m: 720px;
$breakpoint-l: 820px;
$breakpoint-xl: 920px;
$breakpoint-xxl: 1020px;
$breakpoint-xxxl: 1120px;
$breakpoint-xxxxl: 1220px;
