.ehw-SearchInput {
  display: table;
  margin: 1px;
}

.ehw-SearchInput__input {
  display: table-cell;
  width: 100%;
  padding: 0px;
}

.ehw-SearchInput__input .Input__input {
  min-height: 34px;
}

.ehw-SearchInput__input .Input__label {
  padding: 3px 8px 0;
  margin: 1px 0;
}

.ehw-SearchInput__button {
  display: table-cell;
  vertical-align: top;

 .hui-Button {
    padding: 1px 0;
    margin: 1px 0 0 0;
  }
}
