.CountrySelectItem {
  transition: all 80ms ease-out;
  text-align: left;
  background-color: #fff;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.CountrySelectItem {
  border-bottom: 1px solid #eee;
}

.CountrySelectItem:first-child {
  border-top: 1px solid #eee;
}

.CountrySelectItem--focused {
  background-color: rgba(126,199,116,0.1);
}

.CountrySelectItem__flag {
  margin-right: 13px;
  margin-left: 5px;
  vertical-align: top;
}
