.AddressLookup {
  box-sizing: border-box;
  color: $ehw-grey-dark;
  overflow: auto;
  position: relative;
  text-align: left;
  font-family: $ehw-sans-serif-fonts;
  float: left;
  width: 100%;
}

.AddressLookup * {
  box-sizing: border-box;
}

.AddressLookup__list {
  border-radius: 0 0 $ehw-border-radius $ehw-border-radius;
  background-color: #fff;
  padding-top: 5px;
  float: left;
  width: 100%;
  overflow-y: scroll;
  max-height: 300px;
  margin-top: -8px;
}

.AddressLookup__list-google {
  padding-bottom: 18px;
  background: #fff image-url( "widgets-powered-by-google" + $ehw-version + ".png" ) no-repeat right bottom;
}

.AddressLookup__error {
  border-radius: 0 0 $ehw-border-radius $ehw-border-radius;
  padding: 5px 8px;
  margin: 0 8px;
  background-color: $ehw-color-error;
  color: #fff;
  font-size: 13px;
}

.AddressLookup__manual,
.AddressLookup__reset {
  transition: all 80ms ease-out;
  border-radius: $ehw-border-radius;
  float: right;
  padding: 5px 13px;
  background-color: #fff;
  color: $ehw-grey-dark;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.08em;
  font-weight: bold;
  margin: 8px;
  cursor: pointer;
  text-align: center;
}

.AddressLookup__manual:hover,
.AddressLookup__manual:focus,
.AddressLookup__reset:hover,
.AddressLookup__reset:focus  {
  background-color: $ehw-green-light;
  color: #fff;
  outline: none;
}

.AddressLookup--compact { padding: 0; }
.AddressLookup--tight { padding: 0 $x-1 $x-2; }
.AddressLookup--loose { padding: 0 ($x-8 / 2) $x-8; }
