.AddressLookup {
  box-sizing: border-box;
  color: $ehw-grey-dark;
  overflow: auto;
  position: relative;
  text-align: left;
  font-family: $ehw-sans-serif-fonts;
  float: left;
  width: 100%;
}

.AddressLookup * {
  box-sizing: border-box;
}

.AddressLookup__list {
  border: 1px solid $ehw-grey-light;
  position: relative;
  z-index: 1;
  border-radius: 0 0 $ehw-border-radius $ehw-border-radius;
  background-color: #fff;
  float: left;
  width: 100%;
  margin-top: -2px;
}

.AddressLookup__scroll-container {
  overflow-y: scroll;
  max-height: 250px;
}

.AddressLookup__list-google {
  padding-bottom: 32px;
}

.AddressLookup__list-google:before {
  content: url("widgets-powered-by-google" + $ehw-version + ".png");
  position: absolute;
  display: block;
  font-size: 0;
  right: 8px;
  bottom: 8px;
}

.AddressLookup__error {
  border-radius: 0 0 $ehw-border-radius $ehw-border-radius;
  padding: 5px 8px;
  margin: 0 8px;
  background-color: $ehw-color-error;
  color: #fff;
  font-size: 13px;
}

.AddressLookup__manual-wrapper {
  padding: 8px;
}

.AddressLookup__list-google .AddressLookup__manual-wrapper {
  padding-bottom: 0;
}

.AddressLookup__manual {
  width: 100%;
  line-height: 36px;
  margin: 0;
}

.AddressLookup__manual-label {
  font-size: 12px;
  letter-spacing: initial;
}

.AddressLookup__reset-wrapper {
  text-align: right;
}

.AddressLookup__reset {
  line-height: 24px;
  padding: 0;
}

.AddressLookup__reset-label {
  font-size: 12px;
  letter-spacing: initial;
}

.AddressLookup__reset .AddressLookup__reset-label {
  padding-right: 0;
}

.AddressLookup--compact { padding: 0; }
.AddressLookup--tight { padding: 0 $x-1 $x-2; }
.AddressLookup--loose { padding: 0 ($x-8 / 2) $x-8; }
